@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
.para{
    font-size: 30px;
    color: #807d7d;
}
.button1{
    background-color: black;
}
.illustrator,.para,.button1{
    text-align: center;
    align-items: center;
}

#illustrator{
    height: 500px;
}

@media only screen and (max-width:800px) {
    #illustrator{
        height:300px;
    }
}


/* .division1{
    display: block;
} */