 .sidebar{
    height: 100vh !important;
    position: sticky;
    top: 0;
}
/* .pro-sidebar-footer{
    bottom:0px;
    height: 2%;
}  */

.image1{
    height: 44px;
    width:150px;
}
.header1{
    margin-top: 10px;
    padding-bottom: 10px;
}
/* .hamburger-react{
    padding-left: 30px;
} */