

.image1{
    height: 44px;
    width:150px;
}
.header1{
    margin-top: 10px;
    padding-bottom: 10px;
}
.hamburger-react{
    margin-left: 8px;
}
@media only screen and (max-width: 600px){
    .sidebar{
        min-height: -webkit-fill-available;
        position: sticky;
        top: 0;
    }
}
@media screen and (min-width: 800px) {
    .sidebar{
        height: 100vh !important;
        min-height: -webkit-fill-available;
        position: sticky;
        top: 0;
    }
}